$font: "San Francisco Display Medium";
$marginW: 5%;
$marginH: 4vh;
$minWidth: 799px;
$iphone5Width: 400px;
$heightBP: 801px;

@font-face {
  font-family: "San Francisco Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype");
}

body {
  background: white;
  font-family: $font;
  height: 100vh;
  margin-left: $marginW;
  margin-right: $marginW;
  margin-top: $marginH;
  margin-bottom: 20px;
  max-height: 100vh;
  @media screen and (min-width: $minWidth) and (min-height: $heightBP) {
    overflow: hidden;
  }
}

html {
    height: 100vh;
}

#break {
    @media screen and (min-width: $minWidth) {
        display: none;
    }
    @media screen and (max-width: $minWidth) {
        width: 98%;
        border: none;
        height: 1px;
        background-color: lightgray;
    }
}

#breakWithMargin {
    @media screen and (min-width: $minWidth) {
        display: none;
    }
    @media screen and (max-width: $minWidth) {
        width: 98%;
        border: none;
        height: 1px;
        background-color: lightgray;
        margin-bottom: 10%;
    }
}

// foodprint by jayway header

#header {
    @media screen and (min-width: $minWidth) {
        height: 20vh;
        margin-bottom: 2.5vh;
    }
}

#headerTitle {
    font-size: 7em;
    margin: 0px;
    @media screen and (max-width: $minWidth) {
        font-size: 4.8em;
    }
    @media screen and (max-width: $iphone5Width) {
        font-size: 4em;
    }
}

#headerUnderTitleWFlex {
    margin-left: 60.5%;
    margin-top: -5%;
    font-weight: lighter;
    font-size: 2em;
    @media screen and (max-width: $minWidth) {
        font-size: 1em;
    }
}

#headerUnderTitleNoFlex {
    margin-left: 296px;
    margin-top: -25px;
    font-weight: lighter;
    font-size: 2em;
    @media screen and (max-width: $minWidth) {
        font-size: 1em;
        margin-left: 204px;
        margin-top: -17px;
    }
    @media screen and (max-width: $iphone5Width) {
        font-size: 1em;
        margin-left: 169px;
        margin-top: -15px;
    }
}