$minWidth: 799px;

//statsHeader

#headerFlexRows {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#headerTogether {
    @media screen and (max-width: $minWidth) {
        margin-left: auto;
        margin-right: auto;
    }
}

#headerRestSuggestion {
    margin-left: auto;
    text-align: right;
    @media screen and (max-width: $minWidth) {
      width: 100%;
      margin-right: auto;
      font-size: 0.8em;
      text-align: center;
      padding: 0%;
    }
}

#headerRestTitle {
    text-transform: lowercase;
    opacity: 0.5;
    margin: 0px;
    font-size: 1em;
}

#headerRestName {
    text-transform: lowercase;
    font-size: 1.5em;
    margin: 0px;
}

#headerRestAddress {
    text-transform: lowercase;
    font-size: 1em;
    margin: 0px;
}

#headerRestGrade {
    margin-bottom: 0px;
    margin-top: 5px;
    color: rgb(240, 207, 73);
}


#restList {
    list-style: none;
    text-align: right;
    font-weight: bold;
    @media screen and (max-width: $minWidth) {
        font-size: 0.8em;
        text-align: center;
        padding: 0%;
    }
}

#liRestHeader {
    font-weight: lighter;
}


#headerRestName {
    text-transform: lowercase;
    font-size: 1.5em;
}

#liRest {
    text-transform: lowercase;
    font-style: italic;
    font-weight: lighter;
}



