$minWidth: 799px;
$heightBP: 700px;

// statsTable

#table {
    @media screen and (min-width: $minWidth) {
        height: 40vh;
    }
    @media screen and (max-height: $heightBP) {
        height: 50vh;
    }
}

#tableInfo {
    font-size: 1em;
    float: right;
    @media screen and (max-width: $minWidth) {
        font-size: 0.8em;
    }
}

#tableChart {
    //height: 30%;
}

#tablePercent {
    display: flex;
}

#tablePercentUnit {
    font-size: 0.8em;
    margin-top: -15px;
    color: lightgray;
    text-align: right;
}

#statCaretIcon {
    position: relative;
    top: 2px;
    right: 2px;
}

#tableCaretLogo {
    margin-right: 3px;
}