$headerSize: 5em;
$margin: 40px;

#header {
    color: white;
}

#row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#headerName {
    font-size: $headerSize;
    margin: $margin;
}

#headerRestSuggestion {
    margin-left: auto;
    margin-right: $margin;
}

#restList {
  list-style: none;
}

#statOptions {
  display: flex;
  position: absolute;
  right: 0px;
  margin: $margin;
  list-style: none;
  text-transform: lowercase;
  font-size: 1.5em;
}

#li {
  margin-left: 7px;
  a {
    color: grey;
    text-decoration: none;
    &:hover {
      color: dark-grey;
    }
    &:active {
      color: black;
    }
  }
}

#statsTable {
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: $margin;
}

#statTable {
    font-size: 2em;
    position: relative;
    top: 100px;
}