$headerSize: 5em;
$headerMargin: 40px;

#voteList {
  list-style: none;
  li {
    margin-bottom: 15px;
      button {
        border: white;
        font-size: 3.5em;
        font-weight: bold;
        text-transform: lowercase;
        color: black;
        &:active {
            color: lightgray;
        }
        &:focus {
            outline: none;
        }
      }
  }
}

#headerName {
    font-size: $headerSize;
    margin: $headerMargin;
}