$minWidth: 799px;

#voteComponent {
    display:flex;
}

#voteList {
  list-style: none;
  position: absolute;
  @media screen and (max-width: $minWidth) {
      padding: 0%;
      margin-top: 0%;
  }
  li {
    margin-bottom: 15px;
      button {
        border: white;
        font-size: 3.5em;
        font-weight: bold;
        text-transform: lowercase;
        color: black;
        @media screen and (max-width: $minWidth) {
            font-size: 2.5em;
        }
        &:active {
            color: lightgray;
        }
        &:focus {
            outline: none;
        }
      }
  }
}

#response {
  margin-bottom: auto;
}

#responseLogo {
  position: relative;
}


#popupOuter {
    position: fixed;
    display: flex;
    width: 90vw;
    height: 100vh;
    margin-left: auto;
    background-color: white;
}


#popupInner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;

}

#popupText {
    text-align: center;
    font-size: 2em;
}

#stats-link {
  position: fixed;
  bottom: 15vh;
  right: 15vh;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 4px;
}

#stats-link:hover {
  color: hotpink;
}


